body {
    background-color: rgb(253, 243, 223);
}

.receita {
    border: black 0.005rem solid;
    border-radius: 1rem;
    padding: 1.6rem;
    padding-top: 0.6rem;
}

.container-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.navbar {
    color: white;
}

.options {
    background-color: rgb(65, 29, 13);
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.desc-n {
    display:flex;
    color: black;
    font-size: 2rem;
    padding-left: 3rem;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.element-1 {
    border: solid black 2px;
}

.element-2 {
    border: solid black 2px;
    height: fit-content;
}    

